body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.place-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button {
  width: 80%;
  margin: 10px;
}
button[aria-checked] {
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  height: 70px;
  width: 100%;
  background-color: white;
  outline: none;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 7px;
}

.place-container {
  border: 1px solid blue;
}
