/* 
Theme
#004FE9
#000000 
#F8B431

#1460F4
#1257DB
*/
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  padding: 24px 0 36px 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.place-form {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button {
  width: 80%;
  margin: 10px;
}
button[aria-checked] {
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  height: 70px;
  width: 100%;
  background-color: white;
  outline: none;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 7px;
}

.place-container {
  border: 1px solid blue;
  background: rgb(34, 107, 195);
  background: linear-gradient(
    25deg,
    rgba(34, 107, 195, 1) 20%,
    rgba(45, 140, 255, 1) 66%
  );
  color: white;
}
